@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body{
  color: #FDFBF9;
  text-align: center; 
  width: 100%;
  height: 100vh;
  overflow-x: hidden;	
  background-color:hsla(240,80%,9%,1);
background-image:
radial-gradient(at 91% 79%, hsla(240,0%,96%,0.2) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(0,0%,96%,0.2) 0px, transparent 50%);
}


body::-webkit-scrollbar{
    width: 5px;
  }

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #100a1c; 
  background-color: #100a1c;
}

body::-webkit-scrollbar-thumb {
  background: #0C1559; 
  border-radius: 5px;
}

body::-webkit-scrollbar-corner {
background: #100a1c;
}

.btn-nav{
  width: 180px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: transparent;
  margin: 10px;
  color: #FDFBF9;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Bebas Neue";
  letter-spacing: .1rem;
}

.HeaderBar{
  background: #0C1559;
  width: 100%;
  height: 75px;
  padding: 15px;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 2px solid #171717;
  font-size: 60px; 
  font-family: Chiller;
  display: flex;
}

.logo{
height: 50px;
position: relative;
margin-top: 50px;
margin-left: 650px;  

}

#brand{
 font-size: 70px; 
 font-family: 'Permanent Marker';
 color: #0C1559;
}

#logo{
position: absolute;
left: 0;
top: 0;
border-radius: 50%;
width: 100px;
height: 100px;
 margin-top: -1.5rem; 
}

#orderid{
font-family: 'Teko';
}

.content{
width: 850px;
height: 600px; 
margin: 1rem auto;  
/* box-shadow: 10px 10px 5px 10px black; */
border-radius: 10px;  
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;  
margin-top: 200px;  
}

.progress{  
margin: 10px;  
}

.progress h1{
font-family: 'Teko';
}

.btn{
width: 200;
height: 40;  
background: #0C1559;
color: #fdfbf9;
font-family: 'Teko';
font-size: 22px; 
border: none; 
cursor: pointer;  
border-radius: 10px;  
letter-spacing: .03rem;  
}



.thanks{
margin: 10px;
}


.back{
width: 200;
height: 30;  
background: transparent;
color: #fdfbf9;
font-family: 'Teko';
font-size: 22px; 
border: none; 
cursor: pointer; 
text-decoration: underline; 
}

/* Media Queries */

@media screen and (max-width: 325px) {
  .content{
  width: 100%;
  font-size: 16px;
  }


}

@media screen and (min-width: 344px) and (max-width: 744px) {
  .content{
  width: 100%;
  font-size: 16px;
  }
    

}

@media screen and (min-width: 745px) and (max-width: 944px) {
  .content{
  width: 100%;
  font-size: 16px;
  }



}

@media screen and (min-width: 945px) and (max-width: 1550px) {
  .content{
  width: 850px;
  }

}

